################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/lab6_v5.c
/Lab5_c/.vs/Lab5_c/v16/Browse.VC.opendb
